<%- include('partials/header.ejs') %>

<!-- content start -->
<div class="main">
    <div class="d-flex head">
        <h2 class="heading">Dashboard :-</h2>
    </div>
    <div class="content">

    </div>
    <div>

        <%- include ('partials/footer.ejs') %>

        <script>
            activeSideBar('dashboard');
        </script>